# Description
This notebook analyzes and visualizes precipitation data.

In [2]:
# The code was removed by Watson Studio for sharing.

  Country or Area  Year    Value Value Footnotes                  Unit
0         Albania  2015  32711.0             NaN  million cubic metres
1         Albania  2014  37172.0             NaN  million cubic metres
2         Albania  2013  30615.0             NaN  million cubic metres
3         Albania  2012  28058.0             NaN  million cubic metres
4         Albania  2011  30569.0             NaN  million cubic metres

In [3]:

body = client_064be8fc610e46e287371387579b6514.get_object(Bucket='pwnotebook-donotdelete-pr-u55ke10x7onz6q',Key='Environment Statistics Database  Water.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,Metric,Country or Area,Year,Value,Value Footnotes,Unit
0,Actual evapotranspiration,Algeria,2008,87600.000000,NaN,million cubic metres
1,Actual evapotranspiration,Andorra,2007,180.160004,NaN,million cubic metres
2,Actual evapotranspiration,Andorra,2006,196.369995,NaN,million cubic metres
3,Actual evapotranspiration,Andorra,2005,154.266007,NaN,million cubic metres
4,Actual evapotranspiration,Andorra,2004,170.720001,NaN,million cubic metres